BrightData/Brave_Search_With_BrightData/Brave_Search__Image_Video__News__All__and_Structured_Data_Extract_with_Bright_Data_MCP___Google_Gemini.txt
{
  "name": "Brave Search (Image,Video, News, All) and Structured Data Extract with Bright Data MCP & Google Gemini",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        0
      ],
      "id": "70d29e8e-3e2d-4177-abdc-d3da8d6b60e4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        600,
        220
      ],
      "id": "e3b06669-954e-494f-8b59-080d9d7083a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YeO7dHZnuGBVQKVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract structured data from the search result. \n\n{{ $json.search_response }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        600,
        0
      ],
      "id": "2c8c3b3a-edaf-42f2-8f3b-1c3a96bd4c7d",
      "name": "Structured Data Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e9335-56d4-4705-b61b-de0dc9c8ae6d",
              "name": "search_base_url",
              "value": "https://search.brave.com/images",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -300
      ],
      "id": "b2cb439e-eccc-40ad-97db-265bcd9f7a73",
      "name": "Set the input for image search"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"search_results\": {\n      \"type\": \"array\",\n      \"description\": \"A list of search results related to the query.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"The title of the search result or webpage.\"\n          },\n          \"url\": {\n            \"type\": \"string\",\n            \"format\": \"uri\",\n            \"description\": \"The URL of the result.\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"A short description or snippet summarizing the content of the URL.\"\n          }\n        },\n        \"required\": [\"title\", \"url\", \"description\"]\n      }\n    },\n    \"related_queries\": {\n      \"type\": \"array\",\n      \"description\": \"A list of queries related to the original search, often used for refining or expanding the search.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"search_results\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        780,
        220
      ],
      "id": "df89cc2e-1b75-4176-a66d-f17d5076bb17",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "scrape_as_html",
        "toolParameters": "={\n  \"url\": \"{{$json.search_base_url}}?q={{encodeURI($('Set the search criteria\\'s').item.json.search_query))}}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        100,
        -300
      ],
      "id": "919833cb-1add-4670-86a4-466f3df925f3",
      "name": "Bright Data MCP Client for Brave Image Search",
      "credentials": {
        "mcpClientApi": {
          "id": "JtatFSfA2kkwctYa",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.search_type }}",
                    "rightValue": "images",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "235f2abd-b5fd-4c0a-aa63-9d8655d02dfc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b6eb7ce-5683-48cf-8ab9-81b25693c280",
                    "leftValue": "={{ $json.search_type }}",
                    "rightValue": "videos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "312a7726-33a4-4294-9103-5a5017f36909",
                    "leftValue": "={{ $json.search_type }}",
                    "rightValue": "news",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e84e037f-89a3-48ef-b509-2ca70844ad27",
                    "leftValue": "={{ $json.search_type }}",
                    "rightValue": "all",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -340,
        -21
      ],
      "id": "d90b79cc-b878-4210-8380-794cd378ec73",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e9335-56d4-4705-b61b-de0dc9c8ae6d",
              "name": "search_base_url",
              "value": "https://search.brave.com/video",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -100
      ],
      "id": "f20fde43-bfb3-447a-9f43-51bf952c9d7e",
      "name": "Set the input for video search"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "scrape_as_html",
        "toolParameters": "={\n  \"url\": \"{{$json.search_base_url}}?q={{encodeURI($('Set the search criteria\\'s').item.json.search_query))}}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        100,
        -100
      ],
      "id": "b25da743-0d4b-46a2-bb51-2b8e1c533ac5",
      "name": "Bright Data MCP Client for Brave Video Search",
      "credentials": {
        "mcpClientApi": {
          "id": "JtatFSfA2kkwctYa",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74d82a2b-0219-4966-80f2-3144c7c5e4c7",
              "name": "search_response",
              "value": "={{ $json.result.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        0
      ],
      "id": "28e51b1c-a4f3-4d95-af12-d4bd1219cfa2",
      "name": "Set the Search Response"
    },
    {
      "parameters": {
        "content": "## Disclaimer\nThis template is only available on n8n self-hosted as it's making use of the community node for MCP Client.",
        "height": 120,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        -480
      ],
      "id": "98d38078-4708-4d22-a8be-e50a4701ea75",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## LLM Usages\n\nGoogle Gemini LLM is being utilized for the structured data extraction handling.",
        "height": 220,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -580
      ],
      "id": "43138034-35ad-43fd-b67e-69942e1b061b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Logo\n\n\n![logo](https://images.seeklogo.com/logo-png/43/1/brightdata-logo-png_seeklogo-439974.png)\n",
        "height": 360,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -980
      ],
      "typeVersion": 1,
      "id": "eb731e47-779e-40bc-8a83-126d1b03a70b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Note\n\nDeals with the Brave Search by leveraging the Bright Data MCP Client.\n\n**Please make sure to set the search type with videos, images, news, all based on your search input needs**\n\n**Please make sure to update the Initiate a Webhook Notification for the Structured Data node with the Webhook of your interest**",
        "height": 320,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -580
      ],
      "id": "5581a950-075d-4d4d-9f97-fd65e71cc6ff",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e9335-56d4-4705-b61b-de0dc9c8ae6d",
              "name": "search_base_url",
              "value": "https://search.brave.com/news",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        100
      ],
      "id": "a5afb97c-0fbf-48b1-b598-fbca46e3df96",
      "name": "Set the input fields for news search"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9852f865-49b9-4672-9454-4bcc51173445",
              "name": "search_type",
              "value": "news",
              "type": "string"
            },
            {
              "id": "643626c4-6d3e-4609-be12-5e7c0c7afe1d",
              "name": "search_query",
              "value": "bright+data&source=web&lang=en-in",
              "type": "string"
            },
            {
              "id": "4a0fc0eb-2638-4441-9eb1-51c29dd7d1b4",
              "name": "json_search_query",
              "value": "{     \"query\": \"What are the latest funding rounds for AI startups?\",     \"include_domains\": [ \"crunchbase.com\", \"techcrunch.com\", \"pitchbook.com\" ]  }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        0
      ],
      "id": "0dcd6a1b-7968-40da-ad27-4d39fadc243a",
      "name": "Set the search criteria's"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "scrape_as_html",
        "toolParameters": "={\n  \"url\": \"{{$json.search_base_url}}?q={{encodeURI($('Set the search criteria\\'s').item.json.search_query)}}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "id": "2c686701-f3fa-4bf4-bdea-b11dce7b2862",
      "name": "Bright Data MCP Client for Brave News Search",
      "credentials": {
        "mcpClientApi": {
          "id": "JtatFSfA2kkwctYa",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "scrape_as_html",
        "toolParameters": "={\n  \"url\": \"{{$json.search_base_url}}?q={{encodeURI($('Set the search criteria\\'s').item.json.search_query)}}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "725c7c7e-6422-4bcb-8bb1-441766741c96",
      "name": "Bright Data MCP Client for Brave All Search",
      "credentials": {
        "mcpClientApi": {
          "id": "JtatFSfA2kkwctYa",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e9335-56d4-4705-b61b-de0dc9c8ae6d",
              "name": "search_base_url",
              "value": "https://search.brave.com/search",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        300
      ],
      "id": "a6843bfe-f649-4ab8-9208-1d3119e811c5",
      "name": "Set the input fields for All search"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KE5v8RZ3BouTzoT3D4CeU8whe-kWpZcq0VMSalNrxFg",
          "mode": "list",
          "cachedResultName": "Brave Search Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KE5v8RZ3BouTzoT3D4CeU8whe-kWpZcq0VMSalNrxFg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KE5v8RZ3BouTzoT3D4CeU8whe-kWpZcq0VMSalNrxFg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Output": "={{ $json.output.search_results.toJsonString() }}"
          },
          "matchingColumns": [
            "Output"
          ],
          "schema": [
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1060,
        -180
      ],
      "id": "c8fa6490-f0db-400c-8283-e8f9120e6481",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zjoxh2BUZ6VXGQhA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "items[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"
      },
      "name": "Create a binary data for Structured Data Extract",
      "type": "n8n-nodes-base.function",
      "position": [
        1060,
        20
      ],
      "typeVersion": 1,
      "id": "6d51e57a-1303-46a0-95ce-80d3a17c30db"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=d:\\Brave-Search-Result-{{new Date().toISOString().replaceAll(\":\",\".\")}}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        20
      ],
      "id": "7f5d181b-18bc-4bb4-8ae9-bc2e05137127",
      "name": "Write the structured content to disk"
    },
    {
      "parameters": {
        "url": "https://webhook.site/7b5380a0-0544-48dc-be43-0116cb2d52c2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{ $json.output.search_results.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        220
      ],
      "id": "fa6143c9-3312-4890-a490-3bc3db355c53",
      "name": "Initiate a Webhook Notification for the Structured Data"
    },
    {
      "parameters": {
        "content": "## Structured Data and Output Handling\n",
        "height": 660,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -220
      ],
      "id": "cdea8e7d-f513-45fa-b7cf-3b9507d47fda",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set the search criteria's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set the input for image search": {
      "main": [
        [
          {
            "node": "Bright Data MCP Client for Brave Image Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client for Brave Image Search": {
      "main": [
        [
          {
            "node": "Set the Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set the input for image search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set the input for video search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set the input fields for news search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set the input fields for All search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the input for video search": {
      "main": [
        [
          {
            "node": "Bright Data MCP Client for Brave Video Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client for Brave Video Search": {
      "main": [
        [
          {
            "node": "Set the Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the Search Response": {
      "main": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the input fields for news search": {
      "main": [
        [
          {
            "node": "Bright Data MCP Client for Brave News Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the search criteria's": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client for Brave News Search": {
      "main": [
        [
          {
            "node": "Set the Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the input fields for All search": {
      "main": [
        [
          {
            "node": "Bright Data MCP Client for Brave All Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client for Brave All Search": {
      "main": [
        [
          {
            "node": "Set the Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Data Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a binary data for Structured Data Extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initiate a Webhook Notification for the Structured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a binary data for Structured Data Extract": {
      "main": [
        [
          {
            "node": "Write the structured content to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17e249d3-764e-42d8-8f8b-642c08e3c0c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "885b4fb4a6a9c2cb5621429a7b972df0d05bb724c20ac7dac7171b62f1c7ef40"
  },
  "id": "eqvDSknjbg3YLzxM",
  "tags": [
    {
      "createdAt": "2025-04-09T01:31:00.558Z",
      "updatedAt": "2025-04-09T01:31:00.558Z",
      "id": "Kujft2FOjmOVQAmJ",
      "name": "Engineering"
    },
    {
      "createdAt": "2025-04-13T15:23:40.462Z",
      "updatedAt": "2025-04-13T15:23:40.462Z",
      "id": "ZOwtAMLepQaGW76t",
      "name": "Building Blocks"
    },
    {
      "createdAt": "2025-04-13T05:38:08.053Z",
      "updatedAt": "2025-04-13T05:38:08.053Z",
      "id": "ddPkw7Hg5dZhQu2w",
      "name": "AI"
    },
    {
      "createdAt": "2025-04-03T15:37:19.686Z",
      "updatedAt": "2025-04-03T15:37:19.686Z",
      "id": "qpxJxOMCv2x7Op5c",
      "name": "SERP"
    }
  ]
}